version: "3"
networks:
  expense:
volumes:
  mysql: #docker volume create mysql
services:
  mysql:
    image: ranjithkumar0799/mysql:v1
    container_name: mysql ## --name
    volumes:
    - mysql:/var/lib/mysql # -v mysql:/var/lib/mysql
  backend: 
    image: ranjithkumar0799/backend:v1
    container_name: backend
    command: sh -c "sleep 10 && node /opt/server/index.js"
    depends_on:
    - mysql 
  frontend:
    image: ranjithkumar0799/frontend:v1
    container_name: frontend    
    ports:
    - 80:80
    depends_on:
    - backend
